doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='icon' href='/public/favicon.ico')

		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500|Nunito:300,400,600|Fira+Sans:400i,500i' rel='stylesheet')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
		link(rel='stylesheet' href='/public/calculator/style/build/css/calculator.css')

		script(src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src="/public/calculator/admin_script.js")
		
		title Admin Panel &nbsp;&bullet;&nbsp; Aurailus Design
		
		meta(name='copyright' content='(c) 2019 - present Aurailus Design, All Rights Reserved.')
		meta(name='description' content='Calculate your estimated taxes online!')
		meta(name='keywords' content='Tax, Calculator, Residential Tax, Tax Calculator')
		meta(name='author' content='Aurailus Design')
		meta(name='robots' content='noindex,nofollow')
		meta(name='theme-color' content='#333')
		
		//- Global site tag (gtag.js) - Google Analytics
		script(async src='https://www.googletagmanager.com/gtag/js?id=UA-150100799-3')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-150100799-3');
			
		script.
			const DATA = JSON.parse(`!{JSON.stringify(calc)}`);
	body#admin
		aside
			.logo
			nav
				div.active
					a(href='./')
						i.material-icons multiline_chart
						| Calculations
				div
					a(href='/admin/theme')
						i.material-icons palette
						| Theme and Colors

				hr

				div
					a(href='javascript:logout();')
						i.material-icons lock
						| Log out
				div
					a(href='/')
						i.material-icons launch
						| View Site
				
				hr

				div
					a(href='/admin/support')
						i.material-icons help_outline
						| Support

		main
			.wrap
				h2 Year
				p The current year the values are for. This is displayed on the calculator so your users know if the data is up to date.
				.col2
					label(for='year') Current Year
					input#year(type='number' value=calc.year)

				h2 Insights
				p These values are used to provide insights to your residents to help them compare their taxes to the average.
				.col2
					label(for='city_name') City Name
					input#city_name(type='text' value=calc.city)
					label(for='current_avg_assessment') Avg. Single Family Dwelling
					input#current_avg_assessment(type='numeric' value=calc.insights.currentAvg)
				.col2
					label(for='assessed_value_increase') Average Assessed Value Increase
					input#assessed_value_increase(type='decimal' value=calc.insights.increase)
					label(for='previous_avg_assessment')  Avg. Single Family Dwelling
					input#previous_avg_assessment(type='numeric' value=calc.insights.previousAvg)

				h2 Tax Rates
				p The current and previous year's tax rates in your municipality.

				.taxes_wrap
					each tax, ind in calc.taxes
						.rate
							input(id='tax_name_' + ind  type='text' value=tax.name)
							input(id='tax_current_' + ind  type='decimal' value=tax.values.current)
							input(id='tax_previous_' + ind  type='decimal' value=tax.values.previous)
							button.remove_tax(ind=ind)
								i.material-icons close

				.col2
					button.tax_new(style="margin-top: 0;")
						i.material-icons add
						| Add New Tax
				.col2
					button.tax_switch(style="margin-top: 0;") 
						i.material-icons arrow_right
						| Move Current to Previous

				h2 Flat Fees
				p The current and previous year&apos;s flat fees in your municipality.

				.fees_wrap
					each fee, ind in calc.fees
						.rate
							input(id='fee_name_' + ind type='text' value=fee.name)
							input(id='fee_current_' + ind type='numeric' value=fee.values.current)
							input(id='fee_previous_' + ind type='numeric' value=fee.values.previous)
							button.remove_fee(ind=ind)
								i.material-icons close
							
							label Apply To: 
							.occupancy
								label(for="occ_o_" + ind) Occupied
								input(id="occ_o_" + ind type='radio' name='occupancy_state_' + ind value='Occupied' checked=fee.requiresOccupancyState)
							.occupancy
								label(for="occ_u_" + ind) Unoccupied
								input(id="occ_u_" + ind type='radio' name='occupancy_state_' + ind value='Unoccupied' checked=fee.requiresOccupancyState !== undefined && !fee.requiresOccupancyState)
							.occupancy
								label(for="occ_e_" + ind) Either
								input(id="occ_e_" + ind type='radio' name='occupancy_state_' + ind value='Either' checked=fee.requiresOccupancyState === undefined)

				.col2
					button.fee_new(style="margin-top: 0;")
						i.material-icons add
						| Add New Fee
				.col2
					button.fee_switch(style="margin-top: 0;") 
						i.material-icons arrow_right
						| Move Current to Previous

				h2 Grants
				p The available Homeowner's grants in your municipality.

				.grants_wrap
					each grant, ind in calc.grants
						.grant
							input(id='grant_name_' + ind type='text' value=grant.name)
							input(id='grant_value_' + ind type='numeric' value=grant.value)
							button.remove_grant(ind=ind)
								i.material-icons close
							
							.default
								label(for="grant_default_" + ind) Default
								input(id="grant_default_" + ind type='radio' name='grant_default' value=ind checked=calc.defaultGrant==ind)
				
				.col2
					button.grant_new(style="margin-top: 0;")
						i.material-icons add
						| Add New Grant
				.col2

		.save_options_wrap
			.save_options
				p
					i.material-icons save
					| You have unsaved changes.
				button.undo(onclick='location.reload();') Roll Back
				button.save Save
